version: '3.8'
services:
  postgres:
    image: postgres:18beta1
    restart: always
    environment:
      - POSTGRES_USER=misthahnest
      - POSTGRES_PASSWORD=misthah1234321987
      - POSTGRES_DB=travel 
    volumes:
      - postgres:/var/lib/postgresql/data
    ports:
      - '5432:5432'
    networks:
      - nest-net

  app:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: nest-docker-postgres
    environment:
      - PORT=${PORT}
    ports:
      - '3005:3005'
    depends_on:
      - postgres
    volumes:
      - ./backend:/app  
    networks:
      - nest-net

  pgadmin:
    image: dpage/pgadmin4
    restart: always
    container_name: nest-pgadmin4
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@admin.com
      - PGADMIN_DEFAULT_PASSWORD=pgadmin4
    ports:
      - '5050:80'
    depends_on:
      - postgres
    

  frontend:
    container_name: travel-frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - '3000:3000'
    depends_on:
      - app
    networks:
      - nest-net

volumes:
  postgres: {}

networks:
  nest-net:
    driver: bridge
